AgencjaNieruchomosciXYZ_Project/force-app/main/default/flows/Opportunity_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_End_Email_House</name>
        <label>Send End Email - House</label>
        <locationX>462</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>House_End_Mail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Dziękujemy za współprace</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_End_Email_Office</name>
        <label>Send End Email - Office</label>
        <locationX>198</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Office_End_Mail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Dziękujemy za współprace</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>If_test</name>
        <label>If test</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Opportunity_is_for_Office_or_House</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other names of Contact</defaultConnectorLabel>
        <rules>
            <name>If_name_of_Contact_is_System_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test</stringValue>
                </rightValue>
            </conditions>
            <label>If name of Contact is &quot;System Test&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_is_for_Office_or_House</name>
        <label>Opportunity is for Office or House?</label>
        <locationX>330</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Send_End_Email_House</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>House</defaultConnectorLabel>
        <rules>
            <name>Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_End_Email_Office</targetReference>
            </connector>
            <label>Office</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Closed Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>House_End_Mail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Szanowny Panie/Pani,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Chciałbym serdecznie pogratulować decyzji o zakupie mieszkania od nas. Jesteśmy pewni, że będzie Pan/Pani zadowolony z jakości i standardu oferowanego przez nas lokalu.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Jest nam niezmiernie miło, że zdecydował się Pan/Pani na wybór naszej oferty, a my będziemy robić wszystko, aby proces zakupu przebiegł bezproblemowo i szybko.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Jeśli są jakiekolwiek pytania lub wątpliwości, proszę nie wahaj się skontaktować z nami.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Z poważaniem,&lt;/p&gt;&lt;p&gt;{!$Record.Owner.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;+48 123 456 789&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10pt;&quot;&gt;Agencja Nieruchomości XYZ&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Office_End_Mail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Szanowny Panie/Pani,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Chciałbym serdecznie pogratulować decyzji o zakupie biura dla {!$Record.Account.Name}. Jesteśmy zaszczyceni, że wybrali Państwo naszą ofertę i mamy nadzieję, że nowe biuro będzie dla Państwa przyjaznym i funkcjonalnym miejscem pracy.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Jest nam niezmiernie miło, że zdecydował się Pan/Pani na wybór naszej oferty, a my będziemy robić wszystko, aby proces zakupu przebiegł bezproblemowo i szybko.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Jeśli są jakiekolwiek pytania lub wątpliwości, proszę nie wahaj się skontaktować z nami.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Z poważaniem,&lt;/p&gt;&lt;p&gt;{!$Record.Owner.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;+48 123 456 789&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;Agencja Nieruchomości XYZ&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
