AgencjaNieruchomosciXYZ_Project/force-app/main/default/flows/Opportunity_First_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Welcome_Email_House</name>
        <label>Send Welcome Email - House</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>House_Welcome_Mail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>janusz.zaba.nokia@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Dziękujemy za kontakt z Agencją Nieruchomości XYZ</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Welcome_Email_Office</name>
        <label>Send Welcome Email - Office</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Office_Welcome_Mail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>janusz.zaba.nokia@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Dziękujemy za kontakt z Agencją Nieruchomości XYZ</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Opportunity_is_for_Office_or_House</name>
        <label>Opportunity is for Office or House?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Send_Welcome_Email_House</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>House</defaultConnectorLabel>
        <rules>
            <name>Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Welcome_Email_Office</targetReference>
            </connector>
            <label>Office</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - First Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - First Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_is_for_Office_or_House</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>First Contact</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>House_Welcome_Mail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Szanowny/a {!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dziękujemy za skontaktowanie się z nami. Cieszymy się, że możemy pomóc w poszukiwaniu nowej nieruchomości. Nasz zespół doświadczonych agentów pomoże Ci znaleźć idealne dom, które odpowiada Twoim potrzebom i budżetowi. Posiadamy szeroką gamę dostępnych nieruchomości, od małych domów po wielkie wille.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Aktualnie jest przygotowywana spersonalizowana oferta, do 24h odezwiemy się do Państwa z konkretnymi informacjami.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nie wahaj się skontaktować z nami w przypadku jakichkolwiek pytań. Cieszymy się na współpracę z Tobą i pomoc w znalezieniu wymarzonego domu.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Z poważaniem,&lt;/p&gt;&lt;p&gt;Kacper Zawalski&lt;/p&gt;&lt;p&gt;+48 123 456 789&lt;/p&gt;&lt;p&gt;Agencja Nieruchomości XYZ&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Office_Welcome_Mail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Szanowny/a {!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dziękujemy za skontaktowanie się z nami. Cieszymy się, że możemy pomóc w poszukiwaniu nowej nieruchomości. Nasz zespół doświadczonych agentów pomoże Ci znaleźć idealne biuro, które odpowiada Twoim potrzebom i budżetowi. Posiadamy szeroką gamę dostępnych nieruchomości, od małych biur dla kilku osobowej działalności, po duże biura dla dużych korporacji.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Aktualnie jest przygotowywana spersonalizowana oferta, do 24h odezwiemy się do Państwa z konkretnymi informacjami.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nie wahaj się skontaktować z nami w przypadku jakichkolwiek pytań. Cieszymy się na współpracę z Tobą i pomoc w znalezieniu dla Państwa firmy odpowiedniego miejsca pracy.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Z poważaniem,&lt;/p&gt;&lt;p&gt;Kacper Zawalski&lt;/p&gt;&lt;p&gt;+48 123 456 789&lt;/p&gt;&lt;p&gt;Agencja Nieruchomości XYZ&lt;/p&gt;</text>
    </textTemplates>
</Flow>
